{% extends "normal_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}



{% block title %}
    {{page.title}}
{% endblock %}

{% load crispy_forms_tags %}

{% block page_content %}

<h1>Contact</h1>
<div class="row">
    <div class="col-lg">
        {% image page.contact_page_image fill-580x335 as img %}
        <img src="{{img.url}}" class="img-fluid rounded mx-auto d-block" alt="{{img.alt}}">
        <p class="p-3 mx-auto">{{page.intro|richtext}}</p>
    </div>
    <div class="col">
        
        <form id="contact-form" action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6Lc8DfApAAAAAE5S-uOBGvsvNo-uRcoAYG93-yWX"
            data-callback="onSubmit" data-action="submit">Submit</button>
        </form>

    </div>
</div>

<script>
  function onSubmit(token) {
    document.getElementById("contact-form").submit();
  }
</script>

{% endblock %}

