{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="banner d-flex align-items-center flex-column bg-primary">
    {% image page.avatar_image fill-200x200 as avatar_img %}
    <img src="{{avatar_img.url}}" class="rounded mx-auto d-block" alt="{{avatar_img.alt}}">
    <h1>{{page.lead_text}}</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <i class="fab fa-python white-ico"></i>
        <div class="divider-custom-line"></div>
    </div>
</div>

{{ page.body|richtext }}

{% for category in categories %}

<div class="container-fluid bg-light">
    <div class="container-fluid row">
        <div class="col-lg-3 p-2 text-center">
            <h2>{{category.title}}</h2>
            <i class="{{category.icon}} portfolio-icon"></i>
        </div>
        <div class="col-lg-9 ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 ms-2">
                {% for project in category.pages %}
                {% image project.image fill-900x600 as image %}
                <div class="col p-1 pt-2">
                    <div class="card h-100" style="max-width: 24rem;">
                        <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title text-center">{{ project.title }}</h3>
                            <p class="card-text text-center">{{ project.short_description }}</p>
                            <div class="text-end mt-auto">
                                <a href="{{ project.url }}" class="btn btn-outline-primary stretched-link mt-auto"> {{project.title}} </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
