{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="banner d-flex align-items-center flex-column bg-primary">
    {% image page.avatar_image fill-200x200 as avatar_img %}
    <img src="{{avatar_img.url}}" class="rounded mx-auto d-block" alt="{{avatar_img.alt}}">
    <h1>{{page.lead_text}}</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <i class="fab fa-python white-ico"></i>
        <div class="divider-custom-line"></div>
    </div>
</div>

<div class="container mx-auto m-4 text-center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
        {{ page.body|richtext }}
        </div>
        <div class="col-md-3"></div>

    </div>
        
    
        <a href="https://github.com/stevetasticsteve"><button type="button" class="btn btn-lg btn-outline-primary m-1">See my Github page</button></a>
        <a href="/about"><button type="button" class="btn btn-lg btn-outline-primary m-1">About</button></a>
</div>

<div class="container-fluid" id="projects">
{% for category in categories %}
<div class="container-fluid bg-light border-bottom p-2">
    <div class="container-fluid row">
        
        <div class="col-lg-3 p-2 text-center">
            <a href="{{category.url}}" style="text-decoration: none; color: black;">
            <h2>{{category.title}}</h2>
            <i class="{{category.icon}} portfolio-icon"></i>
            </a>
        </div>
        <div class="col-lg-9 ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 ms-2">
                {% for project in category.pages %}
                {% image project.image height-600 as image %}
                <div class="col p-1 pt-2">
                    <div class="card h-100" style="max-width: 24rem;">
                        <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title text-center">{{ project.title }}</h3>
                            <div>
                                {% for t in project.technologies.all %}
                                <span class="badge rounded-pill {% cycle " bg-primary" "bg-secondary" "bg-success" "bg-danger" %}">{{t.name}}</span>
                                {% endfor %}
                            </div>
                            <p class="card-text text-center">{{ project.short_description }}</p>
                            <div class="text-end mt-auto">
                                <a href="{{ project.url }}" class="btn btn-outline-primary stretched-link mt-auto"> {{project.title}} </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
